{% extends 'base.html.twig' %}
{% block title "Nouvelle note" %}
{% block body %}
    <div class="container mt-4">
        <h1>Nouvelle note</h1>
        {{ include ('admin/note/_form.html.twig',{form: form, button: 'Enregistrer'})}}
    </div>
{% endblock %}

