{% extends 'base.html.twig' %}
{% block title "Nouvelle Année Scolaire" %}
{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouvelle année scolaire</h1>
        {{ include ('admin/scolaire/_form.html.twig',{form: form, button: 'Créer'})}}
    </div>
{% endblock %}