{% extends 'base.html.twig' %}
{% block title "Nouveaux Parent" %}
{% block body %}
    <div class="container mt-4">
        <h1>Nouveaux parent d'un étudiant</h1>
        {{ include ('admin/parain/_form.html.twig',{form: form, button: 'Suivant'})}}
    </div>
{% endblock %}