{% extends 'base.html.twig' %}
{% block title "Editer une etudiant" %}
{% block body %}
    <div class="container mt-4">
        <h1>Editer une etudiant</h1>
        {{ include ('admin/etudiant/_form.html.twig',{form: form, button: 'Editer'})}}
    </div>
{% endblock %}


